*{
    padding: 0;
    margin: 0;
}
.titulo{
    position: relative;
    margin: auto;
    width: 1400px;
    height: 65px;
    text-align: center;
    align-content: center;
    color: #FF914D
}
.tipos{
    padding: 10px;
    position: relative;
    height: 630px;
    width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "" ""
}
.mexicano{
    margin: 10px;
    color: #262A29;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "" "";
    border-color: #262A29;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;

}
.rock{
    margin: 10px;
    color: #262A29;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "" "";
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;

}
.electronica{
    margin: 10px;
    color: #262A29;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "" "";
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
}
.urbano{
    margin: 10px;
    color: #262A29;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "" "";
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
}
.imgmex{
    background-color: greenyellow;
    color: black;
    background-image: url(mex.jpg);
    background-size: 100%;
    border-radius: 15px;
}
.imgurb{
    background-color: greenyellow;
    color: black;
    background-image: url(rgt.jpg);
    background-size: 110%;
    border-radius: 15px;
}
.imgrck{
    background-color: greenyellow;
    color: black;
    background-image: url(rck.png);
    background-size: 100%;
    border-radius: 15px;
}
.imgele{
    background-color: greenyellow;
    color: black;
    background-image: url(mec.jpg);
    background-size: 100%;
    border-radius: 15px;
}

.txtmex{
    padding: 15px;
    padding-left: 25px;
}
.txturb{
    padding: 15px;
    padding-left: 25px;
}
.txtrck{
    padding: 15px;
    padding-left: 25px;
}
.txtele{
    padding: 15px;
    padding-left: 25px;
}

h2{
    font-size: 50px;
}


a{
    font-style: normal;
    text-decoration: none
}